body {
  margin: 0;
  background-color: var(--color-fondo);
  color: var(--color-texto-principal);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
